{% extends "layout.html" %}

{% block header %} Ustawienia stacji pogodowej {% endblock %}

{% block content %}
<ul>
    <li>Ustawienie 1</li>
    <li>Ustawienie 2</li>
</ul>

<!-- Update form -->
<form method="POST" action="/settings">
    <input type="hidden" name="update">
    <button type="submit">Aktualizuj ekran e-Ink</button>
</form>

<!-- Clear form -->
<form method="POST" action="/settings">
    <input type="hidden" name="clear">
    <button type="submit">Wyczyść ekran e-Ink</button>
</form>
{% endblock %}