{% extends "layout.html" %}

{% block header %} Ustawienia stacji pogodowej {% endblock %}

{% block content %}
<div class="container mt-4">

    <div class="row">
        <div class="col-md-8">
           
            <!-- Update form -->
            <form method="POST" action="/screen-update" class="mb-3">
                <button type="submit" class="btn btn-primary">Aktualizuj ekran</button>
            </form>

            <!-- Clear form -->
            <form method="POST" action="/screen-clear" class="mb-3">
                <button type="submit" class="btn btn-secondary">Wyczyść ekran</button>
            </form>

            <!-- Restart Raspberry Pi form -->
            <form method="POST" action="/restart" class="mb-3" onsubmit="return confirm('Czy na pewno chcesz zrestartować urządzenie?');">
                <button type="submit" class="btn btn-warning">Restart</button>
            </form>
            
            <!-- Shutdown Raspberry Pi form -->
            <form method="POST" action="/shutdown" class="mb-3" onsubmit="return confirm('Czy na pewno chcesz wyłączyć urządzenie?');">
                <button type="submit" class="btn btn-danger">Wyłącz</button>
            </form>

        <form method="POST" action="/settings?saved=true" class="mb-3">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Ustawienie</th>
                        <th>Wartość</th>
                    </tr>
                </thead>
                <tbody>
                    {% for key, value in settings.items() %}
                    <tr>
                        <td>{{ key }}</td>
                        <td>
                            <input type="text" name="{{ key }}" value="{{ value }}" class="form-control">
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button type="submit" class="btn btn-success">Zapisz ustawienia</button>

            {% if request.args.get('saved') == 'true' %}
                <span>Zapisano!</span>
            {% endif %}
        </form>
        </div>

        <div class="col-md-4">
            <!-- Formularz dodawania połączenia WiFi -->
            <form method="POST" action="/add_wifi" class="mb-3">
                <label class="font-weight-bold text-secondary">Dodaj sieć</label>
                <div class="form-group">
                    <label for="ssid">SSID:</label>
                    <input type="text" id="ssid" name="ssid" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="password">Hasło:</label>
                    <input type="password" id="password" name="password" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-primary">Dodaj połączenie WiFi</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}